<ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="news">
  <ion-icon name="notifications"></ion-icon>
  <ion-label>News</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="sport">
  <ion-icon name="football"></ion-icon>
  <ion-label>Sport</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="weather">
  <ion-icon name="partly-sunny"></ion-icon>
  <ion-label>Weather</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="lotto">
  <ion-icon name="star"></ion-icon>
  <ion-label>Lotto</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>

